*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    }

body
 {
    width: 100%;
}
.container
 {
     position: absolute;
    width: 100%;
    background-color:rgb(49, 35, 35);
    height: 100%;
   
}
.main_head 
{
    position: relative;
    left: 0;
    top: 0;
    /* background:url(/hotel.jpg) no-repeat center center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main_head::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
    background: url(hotel.jpg) no-repeat center center;
    background-size: cover;
}
ul 
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /* z-index: 1; */
    overflow: hidden;
    margin: 10px;
    color: white;
    background-color: transparent;
}
    li{
        float: left;
    
    }

    li a 
    {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 26px 10px  26px;
        text-align: center;
    }

    li a:hover:not(.active)
    {
        background-color: rgb(239, 116, 44);
    }

    .active
    {
        background-color:  rgb(239, 116, 44);
    }
h1
{
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: azure;
    top: 20px;
    z-index: 1;
}



.heading1
{
    position: relative;
    top: 160px;
    z-index: 1;
    margin-left: 50px;
    color: rgb(239, 116, 44);
    font-weight: 900;
}

.heading2
{
    position: relative;
    top: 180px;
    margin-left: 50px;
    color: rgb(239, 116, 44);
    font-weight: 900;
}
.link1 
{
    
   position: relative;
    top: 220px;
    margin-left: 55px;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(199, 216, 238);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

 




























